@model IEnumerable<AboutModel>
<table>
    @foreach (var person in Model)
    {
        <tr>
            <td>Fullname:</td>
            <td>@person.Fullname</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@person.Email</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>@person.Address</td>
        </tr>
    }
</table>