<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/lib/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

    <link href="~/lib/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/lib/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/lib/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/lib/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="">
    <div>
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/lib/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/lib/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/lib/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/lib/vendor/slick/slick.min.js"></script>
    <script src="~/lib/vendor/animsition/animsition.min.js"></script>
    <script src="~/lib/vendor/circle-progress/circle-progress.min.js"></script>
</body>
</html>
