<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <div>
        <marquee>Home Layout</marquee>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
